
    /* background: rgb(242,246,248);
background: -moz-linear-gradient(-45deg,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(213,213,226,1) 74%, rgba(216,225,231,1) 87%, rgba(224,239,249,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 26%,rgba(213,213,226,1) 74%,rgba(216,225,231,1) 87%,rgba(224,239,249,1) 100%);
background: linear-gradient(135deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 26%,rgba(213,213,226,1) 74%,rgba(216,225,231,1) 87%,rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); */


body {
    background-color: #ddd;
    /* background: url('puzyri-krugi-svet-boke-tekstury.jpg'); */
}
.container {
    text-align:center ;
}

.header8 {
    padding: 40px 0 0 0;
}

.card {
    border: solid black;
    border-radius: 20px;
    box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.25);
}
article {
    border: solid black;
    border-radius: 30px;
    background-color: rgba(0, 255, 255, 0.295);
    /* background: url('https://img2.goodfon.ru/original/1024x768/2/b4/abstrakciya-uzory-kraski-2003.jpg'); */
}
.blocks {
    width: 100%;
}
.blocks .block {
    width: 25%;
    background: rgba(0, 255, 255, 0.295);
    /* background: url('https://nastol.net/wallpaper/middle/72/puzyri-krugi-svet-boke-tekstury.jpg'); */
    height: 99px;
    border: 3px solid black;
    float: left;
    box-sizing: border-box;
    padding:3px 5px;
    border-radius: 17px;  
    margin-bottom: 8px; 
}

.cardheader {
    background: darkgrey;
    /* background: rgb(180,227,145);
background: -moz-linear-gradient(top,  rgba(180,227,145,1) 10%, rgba(180,227,145,1) 10%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 90%, rgba(180,227,145,1) 90%);
background: -webkit-linear-gradient(top,  rgba(180,227,145,1) 10%,rgba(180,227,145,1) 10%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 90%,rgba(180,227,145,1) 90%);
background: linear-gradient(to bottom,  rgba(180,227,145,1) 10%,rgba(180,227,145,1) 10%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 90%,rgba(180,227,145,1) 90%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); */

    border-radius: 17.9px ;
    padding: 10px;
    font-weight: 700;
    color: black;
}
a:hover {
    color: rgb(35, 35, 223);
    text-decoration: none;
}
a {
    color: black;
    text-decoration: none;
}
.a {
    color: black;
}
.a:hover {
    color: white;
}
/* .form {
    background: khaki;
    color: black;
    border: solid black;
    border-radius: 30px;
    margin: 10px 120px 10px 120px;
    padding: 10px;
} */
/* .party {
    border: solid black;
    border-radius: 40px;
    background: khaki;
    color: black;
    margin: 0 105px 0 105px;
}
.form:hover {
    background: rgba(0, 255, 255, 0.445);
}
.party:hover {
    background: rgba(0, 255, 255, 0.445);
} */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    z-index: 2;
    /* width: 400px; */
}

.navbar {
    background: #c5bcff;
    /* padding: 15px; */
    /* margin: 10px 5px ; */
    list-style: none; 
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    display:flex ;
    padding: 0 50px;
}
.navbar li:hover {
    margin: 0 10px 0 0;
    padding: 15px;
    background: rgba(102, 51, 153, 0.397);
}
.navbar li {
    margin: 0 15px 0 0;
    padding: 15px;
}
.navbar ul li:last-child {
    margin-right: 0;
} 
.cards {
    background: greenyellow;
    /* border: 4px solid black; */
    margin:10px;
    padding: 10px;
    border-radius:30px ;
}

.cards:hover {
    background: greenyellow;
    /* border: 4px solid black; */
    margin:10px;
    padding: 10px;
    border-radius:30px ;
    color: orangered;
}

.cards2 {
    background: rgba(0, 255, 255, 0.521);
    /* border: 4px solid black; */
    margin:10px;
    padding: 10px;
    border-radius:30px ;
}

.cards2:hover {
    background: rgba(0, 255, 255, 0.521);
    /* border: 4px solid black; */
    margin:10px;
    padding: 10px;
    border-radius:30px ;
    color: orangered;
}
.table {
    background: rgba(250, 128, 114, 0.685);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    /* width: 350px; */
}
.table th {
    width: 1000px;

}
.table td {
    width: 1000px;
    /* background: grey; */
}
.table td:hover {
    color: white;
}
/* .table td:nth-child(2) {
    color: olivedrab;
} */
.hr {
    margin: 0 0 15px 0;
}
/* .cards4 {

} */
/* .cards3 li {

    display: inline;
} */
.cards3 {
    background-color: rgba(0, 204, 255, 0.671);
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
}
.cards3 li:hover {
    color: sandybrown;
}
.cards3 li:last-child {
    margin-right: 0;
}
.cads3 {
    width: 100%;
}
.cards3 p {
    width: 50%;
    /* height: px;s */
    border: 1px solid black;
    /* margin-right:px ; */
    display: inline-block;
    padding: 10px;
}

.cards3 p:hover {
    width: 50%;
    border: 1px solid black;
    display: inline-block;
    color: orangered;
}